.docwire__usecases {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.docwire__usecases-hero {
    width: var(--container-width);
    height: auto;
    max-width: var(--container-max-width);
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    display: flex;
}

.docwire__usecases-hero_top {
    max-width: 70%;
}

.docwire__usecases-hero_top h1 {
    color: var(--color-text);
    margin-top: 3.5rem;
    font-family: var(--font-family-header);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    margin-bottom: 1.5rem;
}

.docwire__usecases-hero_top h1 span {
    color: var(--brand-violet);
}

.docwire__usecases-hero_top p {
    width: auto;
    max-width: var(--container-max-width);
    color: var(--color-text);
    margin-bottom: 100px;
    font-family: var(--font-family-lead);
    font-weight: var(--font-weight-lead);
    line-height: var(--line-height-lead);
    text-decoration: none;
    font-size: var(--font-size-lead);
}

.docwire__usecases-hero_bottom {
    width: var(--container-width);
    max-width: var(--container-max-width);
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.docwire__usecases-single {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin-bottom: 80px;
    width: 33%;
}

.docwire__usecases-single h2 {
    line-height: var(--line-height-heading);
    color: var(--color-text);
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: var(--font-family-header);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
}

.docwire__usecases-single p {
    height: auto;
    max-height: none;
    color: var(--color-text);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-body);
    overflow: hidden;
}

.docwire__usecases-single_wrapper {
    background-image: var(--gradient-bar);
    border-radius: 12px;

}


.docwire__usecases-single_wrapper_img {
    width: auto;
    height: 200px;
    background-color: var(--color-surface);
    cursor: pointer;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: translate3d(-8px, -8px, 0);
}

.docwire__usecases-single_wrapper_img img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 100px;
    object-fit: contain;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.8));
}

.docwire__usecases-single_wrapper_img img:hover {
    transform: none;
    animation: none;

}


@media screen and (max-width: 991px) {
    .docwire__usecases-hero {
        width: 90vw;
    }

    .docwire__usecases-hero_top {
        max-width: 80%;
    }

    .docwire__usecases-hero_top h1 {
        max-width: 100%;
    }

    .docwire__usecases-hero_bottom {
        width: 90vw;
    }

    .docwire__usecases-single {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 776px) {
    .docwire__usecases-hero_top {
        max-width: 100%;
    }

    .docwire__usecases-hero_top p {
        margin-bottom: 50px;
        font-size: var(--font-size-body);
    }

    .docwire__usecases-hero_bottom {
        flex-flow: wrap;
        display: block;
    }

    .docwire__usecases-single {
        width: 100%;
        left: auto;
        right: auto;
    }
    .docwire__usecases-single a {
        width: 100%;
    }
    .docwire__usecases-single a .docwire__usecases-single_wrapper_img {
        height: 150px;
    }
    .docwire__usecases-single a h2 {
        margin-bottom: 5px;
    }
    .docwire__usecases-single p {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 479px) {
    .docwire__usecases-hero_top h1 {
        max-width: 100%;
    }

    .docwire__usecases-hero_top p {
        margin-bottom: 30px;
    }

    .docwire__usecases-hero_bottom {
        margin-bottom: 20px;
    }


    .docwire__usecases-single {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

}