.docwire__cta {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.docwire__cta-background {
    background-size: 300% 300%;
    animation: gradient 6s ease infinite;
    width: var(--container-width);
    height: auto;
    max-height: none;
    max-width: var(--container-max-width);
    min-height: auto;
    min-width: auto;
    color: var(--brand-white);
    background-color: var(--brand-black);
    background-image: var(--gradient-bar);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
    padding: 5vh 5%;
    display: flex;
}

.docwire__cta-background_banner {
    width: 45%;
    flex-direction: column;
    justify-content: center;
    padding-right: 0;
    display: flex;
}

.docwire__cta-content h3 {
    color: var(--brand-white);
    margin-top: 0;
    margin-bottom: 24px;
    line-height: var(--line-height-heading);
    font-family: var(--font-family-header);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
    text-align: left;
}

.docwire__cta-content p {
    width: auto;
    max-width: var(--container-max-width);
    font-family: var(--font-family-lead);
    font-weight: var(--font-weight-lead);
    line-height: var(--line-height-lead);
    text-decoration: none;
    font-size: var(--font-size-lead);
    color: var(--brand-white);
    margin-bottom: 0;
}

.docwire__cta-button {
    -webkit-text-fill-color: inherit;
    background-color: var(--color-text);
    background-clip: border-box;
    margin-left: 30px;
    width: 12em;
    height: 3.5em;
    max-height: 55px;
    max-width: 190px;
    font-size: var(--font-size-ui);
    color: var(--color-bg);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-ui);
    display: flex;
    padding: 9px 15px;
    font-weight: var(--font-weight-ui);
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@media screen and (max-width: 991px) {
    .docwire__cta-background {
        width: 90vw;
        margin-bottom: 15vh;
    }

    .docwire__cta-button {
        width: 180px;
        height: 60px;
        max-height: none;
        max-width: none;
        border-radius: 5px;
    }
}

@media screen and (max-width: 767px) {
    .docwire__cta-background {
        flex-direction: column;
        align-items: flex-start;
        padding: 40px;
    }

    .docwire__cta-background_banner {
        width: 100%;
    }

    .docwire__cta-button {
        margin-top: 25px;
    }
}

@media screen and (max-width: 479px) {
    .docwire__cta-background {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 5vh;
        padding: 24px;
    }

    .docwire__cta-content {
        width: 100%;
    }

    .docwire__cta-button {
        width: 150px;
        height: 48px;
        justify-content: center;
        margin-left: 0;
    }
}