.docwire__wingssection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.docwire__wingssection-container {
    margin-bottom: 10vh;
    padding-top: 100px;
    width: var(--container-width);
    height: auto;
    max-width: var(--container-max-width);
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    display: flex;
}

.docwire__wingssection-container_text {
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-self: center;
    padding-top: 0;
    display: flex;
}

.docwire__wingssection-container_text h2 {
    color: var(--color-text);
    text-align: left;
    font-size: var(--font-size-h2);
    margin-top: 0;
    margin-bottom: 24px;
    font-family: var(--font-family);
    line-height: 1;
    font-weight: bold;
}

.docwire__wingssection-container_text p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: var(--font-size-body-large);
    width: auto;
    max-width: var(--container-max-width);
    color: var(--color-text);
    font-family: var(--font-family-Open-Sans);
    font-weight: 600;
    line-height: 1.4;
    text-decoration: none;
}

.docwire__wingssection-container_wings img {
    width: 100%;
}


@media screen and (max-width: 1250px) {
    .docwire__wingssection-container_text {
        width: 60vw;
    }
    .docwire__wingssection-container_wings {
        width: 40vw;
    }
    .docwire__wingssection-container_wings img {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .docwire__wingssection-container{
        width: 95vw;
        flex-direction: column;
    }
    .docwire__wingssection-container_text {
        width: 80vw;
    }
    .docwire__wingssection-container_wings {
        display: none;
    }
}